</body>
<footer class="opacity-70 
font-thin text-lg font-mono mx-auto text-center mt-2 tracking-wider">
    <h1 class="bg-clip-text text-transparent bg-gradient-to-r from-pink-800 to-violet-400">Maulana Ibrahim / July 2023</h1>
</footer>
</html>